/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: lime;
   --backgr: #000;
 }

/* Use your variables on elements */
 main {
   color: var(--contrast);
   
 }


 body {
  background-color: rgb(235, 231, 174);
}



.navbar a {
  float: left;
  display: block;
  color: rgb(87, 201, 127);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  margin-right: 50px; /* Mellemrum mellem hovedkategorier */
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(50, 85, 37);
  padding: 14px 20px;
  background-color: inherit;
  margin-right: 30px; /* Også mellemrum her, hvis dropdown er en del af hovedmenuen */
}

.kol {
  display: flex;
  justify-content: space-evenly;
}


h2,
p 